extends layout

block content 
    h2 #{formtitle}

    form(class="msgForm" method='POST' action="/newMsg")
            div.form-group
            label(for='messageUser')
            input(type='text', placeholder='Name' name='messageUser')
            div.form-group
            label(for='messageTopic')
            input(type='text', placeholder='Topic' name='messageTopic')
            div.form-group
            label(for='messageText')
            textarea(placeholder='New Message' name='messageText')
            button(type='submit') Submit