body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

h1{
  text-align: center;
}

a {
  color: #00B7FF;
  display: flex;
  justify-content: center;
  align-items: center;
}

.message{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
}

.message-container{
  border: 1px red solid;
  width: 500px;
  margin: 1rem;
}

